* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;   
}
.navbar {
    background-color: #333;
    padding: 0 100px;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


nav ul ul.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0px;

}

.links li {
    padding: 0;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    font-weight: 600;
}

.links li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 200;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }


.links li a:hover, .links li a.current {
    color: #f7c08a;
    background-color: #444;
}