* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    /* height: 100vh;
    width: 100vw; */
    height: 100vh;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;   
    background-color: #333;
}

/* .container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    /* padding: 0 20px; 
}    
*/


.navbar {
    /* background-color: #333; */
    padding: 0 82px;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


nav ul ul.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0px;

}

.links li {
    padding: 0;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    font-weight: 600;
}

.links li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 200;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }


.links li a:hover, .links li a.current {
    color: #f7c08a;
    background-color: #444;
}

#showcase {
    background-image: url(../img/showcase.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 85%;
}

#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.text-primary {
    color: #f7c08a;
}

#showcase h1 {
    font-size: 60px;
    color: white;
    line-height: 1.2em;
}

#showcase p {
    color: white;
    font-size: 1.2em;
    line-height: 1.7em;

}
#showcase button, .btn {
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

#showcase button:hover, .btn:hover {
    background-color: #f7c08a;
    color: #333;
}

#home-info {
    display: flex;
    flex-direction: row;
    height: 400px;
    color: white;
}

#home-info .left-image {
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}

#home-info .right-content {
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 45px 30px;
    
}

#home-info .right-content p {
    font-weight: 200;
    text-align: center;
}

#home-info .right-content a.btn {
    text-decoration: none;
    background: #f4f4f4;
    color: #333;
}

#home-info .right-content a.btn:hover {
    background: #f7c08a;
}

#features {
    display: flex;
    flex-direction: row;
    height: 270px;
}

#features .box {
    width: 33.33%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 45px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
}

#features .box p {
    padding-top: 15px;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
  }

.bg-light {
    background: #f4f4f4;
    color: #333;
  }

#footer {
    text-align: center;
    padding: 30px 10px;
    color: white;
}

/* About Page */

.container.about {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 35px 100px;
    font-size: 1.2em;
    gap: 25px;
}

.about .left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .left-content p {
    font-size: 0.9em;
}

.about .right-image {
    width: 35%;
    border-radius: 50%;
}

#testimonials {
    width: 100%;
    background-image: url(../img/test-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#testimonials h1{
    color: white;
    font-size: 2.6em;
}

#testimonials .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
    gap: 20px;
    background: #f7c08a;
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}

#testimonials .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Contact Page */
#contact {
    padding: 35px 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

#contact h1 {
    font-size: 2.3em;
}


/* Media Querries */

@media only screen and (max-width: 823px) {
    .container.about {
        flex-direction: column;
    }

    .about .left-content{
        width: 100%;
    }
    .about .right-image {
        width: 100%;
    }

}


@media only screen and (max-width: 751px) {
    #features {
        flex-direction: column;
        height: auto;
    }
    #features .box {
        width: 100%;
    }
    #home-info {
        flex-direction: column;
        height: auto;
    }
    #home-info .left-image{
        width: 100%;
        height: 400px;
    }
    #home-info .right-content {
        width: 100%;
        height: 400px;
    }
    .navbar {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 513px) {
    .about .left-content h1 {
        font-size: 1.6em;
    }
    #testimonials .card {
        flex-wrap: wrap;
    }
}

    @media only screen and (max-width: 471px) {
        .navbar {
            overflow-x: hidden;
        }
  }

